.alert {
    display: flex;
    align-items: center;
    position: fixed;
    right: 10px;
    top: 80px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
}

.alert.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.alert.success {
    background: green;
}

.alert.error {
    background: red;
}

.alert-icon {
    margin-right: 15px;
    color: #fff;
}

.alert-message {
    line-height: 24;
    display: block;
    color: #fff;
}

